

  .product-card {
    transition: box-shadow .3s;
  }
  
  .product-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.05);
    transition: transform .2s
  }
  
  .stock-indicator {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .category-tag {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  /* General text styling for the card */
.product-card .card-body {
    font-family: 'Arial', sans-serif; /* Change the font-family */
  }
  
  /* Card title */
  .product-card .card-title {
    font-size: 1.5em; /* Increase the font size */
    font-weight: bold; /* Make it bold */
    color: #333; /* Dark gray color */
  }
  
  /* Card text */
  .product-card .card-text {
    font-size: 1em; /* Regular font size */
    line-height: 1.5; /* Increase the line height */
    color: #666; /* Light gray color */
  }
  
  /* Variants section */
  .product-card .variants {
    font-size: 0.9em; /* Slightly smaller font */
    line-height: 1.4; /* Slightly increased line height */
    margin-top: 10px; /* Add some space above */
  }
  
  /* Category tag */
  .category-tag {
    margin-bottom: 10px; /* Add some space below the tag */
  }
  
  .stock-indicator.out-of-stock {
    background-color: #dc3545 !important;
    color: white !important;
  }
  
  .stock-indicator.low-in-stock {
    background-color: #ffc107 !important;
    color: black !important;
  }
  
  .stock-indicator.in-stock {
    background-color: #28a745 !important;
    color: white !important;
  }